<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Report Error">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="MAIL_DRIVER" value="sendmail"/>
        <env name="MAIL_HOST" value=""/>
        <env name="MAIL_PORT" value=""/>
        <env name="MAIL_USERNAME" value=""/>
        <env name="MAIL_PASSWORD" value=""/>
    </php>
</phpunit>
